/* ================================
   CTA Text (Figtree)
================================ */

.btn {
    font-family: var(--font-figtree), sans-serif;
    font-weight: 600;
    font-size: clamp(15px, calc((24 / var(--viewport)) * 100vw), 24px);
    line-height: clamp(24px, calc((28 / var(--viewport)) * 100vw), 28px);
    letter-spacing: -0.02em;
    padding: clamp(11px, calc((15 / var(--viewport)) * 100vw), 15px) clamp(24px, calc((24 / var(--viewport)) * 100vw), 40px);
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
    border-radius: var(--btn-border-radius);
    border: 1px solid var(--btn-border-color);
    text-align: center;
    white-space: nowrap;
    width: fit-content;
    cursor: pointer;
    transition: all 0.3s ease;

    &:is(:hover, :focus, :active) {
        background-color: var(--btn-hover-bg-color);
        color: var(--btn-hover-text-color);
        border-color: var(--btn-hover-border-color);
    }
}

.cta-secondary {
    font-size: 22px;
}

.cta-tertiary {
    font-size: 20px;
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: clamp(12px, calc((24 / var(--viewport)) * 100vw), 24px);
    margin-top: 24px;

    .btn:nth-child(2) {
        background-color: transparent;
        color: var(--btn-bg-color);

        &:is(:hover, :focus, :active) {
            background-color: var(--btn-hover-bg-color);
            color: var(--btn-hover-text-color);
        }
    }
}

.mobile {
    .btn {
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0.01em;
        padding: 12px 24px;
    }
}
