:root {
    --mobile-vertical-spacing: 24px;
}

.content_wrapper {
    width: 100%;
}

.widget-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1920px;
    margin: clamp(25px, calc((50 / var(--viewport)) * 100vw), 50px) auto;
    padding: 0 clamp(30px, calc((180 / var(--viewport)) * 180vw), 180px);
}

.bg {
    background: var(--widget-bg);
}

/* overline → Heading */
.text-content-wrapper
    :is(.overline-1, .overline-2, .overline-3)
    + :is(h1, h2, h3, h4, h5, h6) {
    margin-top: 16px;
}

.text-content-wrapper * + :is(h1, h2, h3, h4, h5, h6) {
    margin-top: 64px;
}

.text-content-wrapper :is(.highlight-text) + :is(h1, h2, h3, h4, h5, h6) {
    margin-top: 20px;
}

/* Heading → text blocks */
.text-content-wrapper :is(h1, h2, h3, h4, h5, h6) + :is(p, ul, ol, table) {
    margin-top: 20px;
}

/* Text blocks → text blocks */
.text-content-wrapper :is(p, ul, ol, table) + :is(p, ul, ol, table) {
    margin-top: 16px;
}

/* Anything → Button */
.text-content-wrapper > * + .btn {
    margin-top: 16px;
}
