// hero banner on the homepage
.hero-banner {
    padding: 0;
    margin-bottom: var(--widget-spacing);
    position: relative;

    .image-content-wrapper {
        position: relative;
        border-radius: unset;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.67);
            z-index: 1;
        }

        img {
            height: clamp(720px, calc((960 / var(--viewport)) * 100vw), 960px);
            border-radius: unset;
        }
    }

    .text-content {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        z-index: 2;
        padding: 17.814% 0 10.73%;
        margin: auto;

        .text-content-wrapper {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: calc(100% - 48px);

            > *:not(.btn, .highlight-text, p) {
                color: #fff;
            }

            :is(h1, h2) {
                max-width: 960px;
            }

            h1 ~ p {
                color: rgba(255, 255, 255, 0.6);
                max-width: 736px;
            }

            .btn-group .btn:nth-child(2) {
                background: rgba(255, 255, 255, 0.16);
                color: #ffffff;
                border: unset;
                padding: clamp(13px, calc((16 / var(--viewport)) * 100vw), 16px) clamp(24px, calc((24 / var(--viewport)) * 100vw), 40px);
                backdrop-filter: blur(80px);
                -webkit-backdrop-filter: blur(80px);

                &:is(:hover, :focus, :active) {
                    background-color: rgba(255, 255, 255, 0.24);
                    color: #ffffff;
                }
            }
        }
    }
}

main .widget-wrapper.about-company {
    margin-top: 0;
    padding: var(--widget-spacing) var(--widget-vertical-spacing);
    flex-direction: row;
    gap: 20px 0;
    align-items: flex-start;

    @media (max-width: 767px) {
        flex-wrap: wrap;
    }

    .text-content {
        padding: 0 clamp(14px, calc((64 / var(--viewport)) * 100vw), 64px);
        border-right: 2px solid rgba(20, 20, 20, 0.24);

        &:last-child {
            border: unset;
        }

        @media (max-width: 767px) {
            width: 50%;

            &:nth-child(2) {
                border: unset;
            }
        }

        .text-content-wrapper {
            gap: 20px;
            align-items: center;
            text-align: center;

            svg {
                width: clamp(28px, calc((56 / var(--viewport)) * 100vw), 56px);
                height: clamp(28px, calc((56 / var(--viewport)) * 100vw), 56px);
            }
        }
    }
}

.text-group .text-content-wrapper {
    text-align: center;
    align-items: center;
    max-width: 960px;
}

.our-services {
    .iamge-text-card {
        flex-direction: row;
        flex-wrap: wrap;
        gap: clamp(24px, (36 / var(--viewport)) * 100vw, 36px);

        @media (max-width: 767px) {
            flex-direction: column;
        }

        .text-content {
            display: flex;
            border-radius: var(--border-radius);
            overflow: hidden;
            width: calc(100% / 3 - clamp(24px, (36 / var(--viewport)) * 100vw, 36px) * 2 / 3);

            @media (max-width: 1023px) {
                width: calc(100% / 2 - clamp(24px, (36 / var(--viewport)) * 100vw, 36px) / 2);
            }

            @media (max-width: 767px) {
                width: 100%;
            }

            a {
                width: 100%;
                position: relative;

                &::before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    z-index: 1;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 1) 100%);
                }

                .image-content-wrapper img {
                    transition: all 600ms ease;
                }

                .text-content-wrapper {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding: 20px calc(clamp(36px, (46 / var(--viewport)) * 100vw, 46px) + 24px) 20px 20px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: start;
                    z-index: 2;
                    gap: 6px;

                    @media (max-width: 767px) {
                        padding: 20px 60px 20px 20px;
                    }

                    > * {
                        color: var(--text-color-over-img);
                        position: relative;
                        z-index: 2;
                        margin: 0;
                    }

                    .p-sm {
                        opacity: 0.64;
                    }

                    .arrow {
                        position: absolute;
                        bottom: 24px;
                        right: 24px;
                        background-color: #fff;
                        border-radius: 40px;
                        width: clamp(36px, calc((46 / var(--viewport)) * 100vw), 46px);
                        height: clamp(36px, calc((46 / var(--viewport)) * 100vw), 46px);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: all 500ms ease;

                        @media (max-width: 767px) {
                            bottom: 16px;
                            right: 16px;

                            img {
                                width: 21px;
                                height: 21px;
                            }
                        }
                    }
                }

                &:hover {
                    .image-content-wrapper img {
                        scale: 1.05;
                    }

                    .text-content-wrapper .arrow {
                        transform: rotateZ(45deg);
                    }
                }
            }
        }
    }
}

.about-us-ltxt-rimg {
    flex-direction: row;

    @media (max-width: 767px) {
        flex-direction: column;
        align-items: center;
    }

    .text-content {
        width: 51.027%;
        padding-right: max(24px, 3.334vw);

        @media (max-width: 767px) {
            width: 100%;
            padding: 0 0 32px;

            .text-content-wrapper {
                text-align: center;
                align-items: center;
            }
        }
    }

    .image-content-wrapper {
        width: 48.847%;

        @media (max-width: 767px) {
            width: 100%;
        }
    }
}

.our-projects-text-slider {
    padding-right: 0;
    padding-left: 0;

    .text-group {
        padding: 0 var(--widget-vertical-spacing);
    }

    .swiper {
        width: 100%;
        height: 100%;
        padding: 0 clamp(38px, calc((420 / var(--viewport)) * 100vw), 420px) calc(var(--widget-spacing) + var(--swiper-height));

        @media (max-width: 767px) {
            padding: 0 9.745vw calc(var(--widget-spacing) + var(--swiper-height));
        }
    }

    .swiper-slide {
        transition: all 900ms ease;

        .text-content {
            a {
                position: relative;

                .image-content-wrapper img {
                    transition: all 600ms ease;
                }

                .text-content-wrapper {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    justify-content: space-between;
                    color: var(--text-color-over-img);
                    padding: 30px 40px;
                    border-radius: var(--border-radius);
                    overflow: hidden;

                    @media (max-width: 1280px) {
                        padding: 20px;
                    }

                    * + :is(p, ul, ol, table) {
                        margin-top: 10px;
                    }

                    * {
                        position: relative;
                        z-index: 2;
                    }

                    *:not(.btn) {
                        color: var(--text-color-over-img);
                    }
                    .arrow {
                        position: absolute;
                        top: 40px;
                        right: 40px;
                        background: #ffffff;
                        border-radius: 30px;
                        width: 46px;
                        height: 46px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: all 500ms ease;

                        @media (max-width: 1280px) {
                            top: 30px;
                            right: 30px;
                            width: 30px;
                            height: 30px;

                            img {
                                width: 20px;
                                height: 20px;
                            }
                        }

                        @media (max-width: 767px) {
                            top: 14px;
                            right: 14px;
                            width: 14px;
                            height: 14px;

                            img {
                                width: 8px;
                                height: 8px;
                            }
                        }
                    }

                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        inset: auto 0 0;
                        height: inherit;
                        width: 100%;
                        display: block;
                    }

                    &::before {
                        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 65%, var(--card-overlay-muted) 90%, var(--card-overlay-muted) 100%);
                        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 65%, var(--color-for-widget) 90%, var(--color-for-widget) 100%);
                    }

                    &::after {
                        background: transparent;
                        z-index: 1;
                        transition: all 900ms ease;
                    }

                    @media (max-width: 767px) {
                        h3 {
                            font-size: 12px;
                            line-height: 12px;
                        }

                        h6 {
                            font-size: 8px;
                            line-height: 8px;
                        }

                        p {
                            font-size: 8px;
                            line-height: 8px;
                            margin-top: 4px;
                        }
                    }
                }

                &:hover {
                    .image-content-wrapper img {
                        scale: 1.05;
                    }

                    .text-content-wrapper .arrow {
                        transform: rotateZ(45deg);
                    }
                }
            }
        }

        &.swiper-slide-active {
            scale: 1;
            right: 0;
            left: 0;
        }

        &.swiper-slide-prev,
        &.swiper-slide-next {
            scale: 0.9;

            .text-content-wrapper::after {
                background: rgba(255, 255, 255, 0.3);
            }
        }
    }
}

.widget-wrapper.testimonials {
    margin-bottom: 0;
    .swiper {
        padding-bottom: calc(var(--widget-spacing) + var(--swiper-height));

        .review-card {
            width: 100%;
            background: var(--background);
            padding: clamp(24px, calc((40 / var(--viewport)) * 100vw), 40px);
            border-radius: var(--border-radius);
            text-align: center;
            border: 1px solid var(--border-color);

            .star {
                display: flex;
                gap: 4px;
                width: 100%;
                justify-content: center;
                margin-top: clamp(14px, calc((20 / var(--viewport)) * 100vw), 20px);
                svg {
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }

    @media (max-width: 767px) {
        &.widget-wrapper.bg {
            padding-inline: 0;

            .text-group {
                padding-inline: var(--widget-vertical-spacing);
            }

            .swiper {
                padding-right: 40px;
                padding-left: 40px;
            }
        }
    }
}

.widget-wrapper.why-choose-us {
    @media (min-width: 767px) {
        padding-inline: clamp(var(--widget-vertical-spacing), calc((335 / var(--viewport)) * 100vw), 335px);
    }

    &.bg {
        background: url(/images/01-home-page/why-choose-us.webp) no-repeat center / cover;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            display: block;
            background: rgba(0, 00, 00, 0.48);
        }
    }

    > .widget-wrapper {
        z-index: 1;

        .text-content-wrapper {
            > * {
                color: var(--text-color-over-img);
            }
        }
    }

    .cards-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: clamp(16px, calc((48 / var(--viewport)) * 100vw), 48px);
        align-items: flex-start;

        .card.text-content {
            width: calc(100% / 2 - clamp(16px, 2.501vw, 48px) / 2);
            background: rgba(0, 0, 0, 0.48);
            backdrop-filter: blur(100px);
            padding: clamp(16px, calc((40 / var(--viewport)) * 100vw), 40px);
            border-radius: var(--border-radius);
            display: flex;
            gap: clamp(16px, calc((24 / var(--viewport)) * 100vw), 24px);
            align-items: flex-start;

            @media (max-width: 767px) {
                width: 100%;
            }

            p {
                text-wrap: unset;
            }

            svg {
                width: clamp(28px, calc((48 / var(--viewport)) * 100vw), 48px);
                height: clamp(28px, calc((48 / var(--viewport)) * 100vw), 48px);

                @media (max-width: 767px) {
                    height: 28px;
                    width: 28px;
                }
            }
        }
    }
}

.request-a-quote {
    margin-top: var(--widget-spacing);
    background: url(/images/01-home-page//hp-cta-Section.webp) no-repeat center / cover;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        display: block;
        background: rgba(0, 00, 00, 0.72);
    }

    .text-content {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: clamp(16px, calc((40 / var(--viewport)) * 100vw), 40px);

        @media (max-width: 767px) {
            flex-direction: column;
            text-align: center;
            gap: 16px;
        }

        .text-content-wrapper {
            > * {
                color: #fff;
            }
            p {
                text-wrap: unset;
            }
        }
    }
}

.mission-vision {
    flex-direction: row;
    gap: clamp(40px, calc((64 / var(--viewport)) * 100vw), 64px);
    align-items: flex-start;
    flex-wrap: wrap;

    .text-content {
        width: calc(50% - clamp(40px, calc((64 / var(--viewport)) * 100vw), 64px) / 2);
        position: relative;

        .icon-wrapper {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            width: clamp(48px, calc((88 / var(--viewport)) * 100vw), 88px);
            height: clamp(48px, calc((88 / var(--viewport)) * 100vw), 88px);
            background: var(--brand-primary-color);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;

            svg {
                width: clamp(26px, calc((48 / var(--viewport)) * 100vw), 48px);
                height: clamp(26px, calc((48 / var(--viewport)) * 100vw), 48px);
            }
        }

        .text-content-wrapper {
            text-align: center;
            padding: clamp(32px, calc((56 / var(--viewport)) * 100vw), 56px) clamp(16px, calc((43 / var(--viewport)) * 100vw), 43px)
                clamp(32px, calc((48 / var(--viewport)) * 100vw), 48px);
            background: #ffffff;
            border-radius: var(--border-radius);
        }

        @media (max-width: 767px) {
            width: 100%;
        }
    }
}

.our-core-values {
    flex-direction: row;

    .image-content-wrapper {
        width: 739px;
    }

    .text-content {
        width: 821px;
        padding-left: max(24px, 4.168vw);

        .cards-container {
            display: flex;
            flex-wrap: wrap;
            padding-top: clamp(24px, calc((64 / var(--viewport)) * 100vw), 64px);
            gap: clamp(16px, calc((24 / var(--viewport)) * 100vw), 24px);

            .card {
                width: 100%;
                background: var(--widget-secondary-bg);
                display: flex;
                justify-content: center;
                align-items: center;
                gap: clamp(16px, calc((40 / var(--viewport)) * 100vw), 40px);
                padding: clamp(16px, calc((24 / var(--viewport)) * 100vw), 24px);
                border-radius: var(--border-radius);
                transition: all 300ms ease;
                cursor: pointer;

                &:first-child {
                    background: var(--widget-bg);
                    .icon-wrapper {
                        background: var(--brand-primary-color);

                        svg {
                            path {
                                fill: #fff;
                            }
                        }
                    }
                }

                .icon-wrapper {
                    height: clamp(32px, calc((80 / var(--viewport)) * 100vw), 80px);
                    width: clamp(32px, calc((80 / var(--viewport)) * 100vw), 80px);
                    min-width: clamp(32px, calc((80 / var(--viewport)) * 100vw), 80px);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: white;
                    border-radius: 60px;
                    transition: all 300ms ease;

                    svg {
                        width: clamp(18px, calc((43 / var(--viewport)) * 100vw), 43px);
                        height: clamp(18px, calc((43 / var(--viewport)) * 100vw), 43px);

                        path {
                            transition: all 300ms ease;
                        }
                    }
                }

                p:not(:first-child) {
                    margin-top: clamp(6px, calc((8 / var(--viewport)) * 100vw), 8px);
                }

                &:hover {
                    background: var(--widget-bg);

                    .icon-wrapper {
                        background: var(--brand-primary-color);

                        svg {
                            path {
                                fill: #fff;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 767px) {
        flex-direction: column-reverse;
        align-items: center;

        .image-content-wrapper {
            width: 100%;
        }

        .text-content {
            width: 100%;
            padding: 0 0 24px;

            > .text-content-wrapper {
                text-align: center;
                align-items: center;
            }

            .cards-container {
                padding-top: 24px;

                .card {
                    align-items: flex-start;
                }
            }
        }
    }
}

.meet-our-team {
    .our-team-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        gap: clamp(16px, calc((32 / var(--viewport)) * 100vw), 32px);

        .text-content.person {
            width: calc(100% / 4 - clamp(16px, calc((32 / var(--viewport)) * 100vw), 32px) * 3 / 4);
        }

        .text-content.team {
            width: calc(100% / 2 - clamp(16px, calc((32 / var(--viewport)) * 100vw), 32px) / 2);
        }

        .text-content {
            border-radius: var(--border-radius);
            overflow: hidden;
            position: relative;

            .text-content-wrapper {
                position: absolute;
                inset: 0;
                justify-content: flex-end;
                padding: 20px;
                text-align: center;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 94%);

                > * {
                    color: var(--text-color-over-img);
                }

                .overline-3 {
                    text-transform: capitalize;
                    font-weight: 300;
                    letter-spacing: 0;
                    margin-top: 0;
                }
            }
        }

        @media (max-width: 992px) {
            .text-content.person {
                width: calc(100% / 2 - clamp(16px, calc((32 / var(--viewport)) * 100vw), 32px) * 3 / 04);

                img {
                    aspect-ratio: 165 / 185;
                }
            }

            .text-content.team {
                width: calc(100% / 1 - clamp(16px, calc((32 / var(--viewport)) * 100vw), 32px) / 2);
            }
        }
    }
}

.widget-wrapper.bg.our-trade-license {
    padding-block: var(--widget-spacing);
    flex-direction: row;

    p {
        max-width: 788px;
    }

    .two-buttons {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: clamp(12px, calc((24 / var(--viewport)) * 100vw), 24px);

        .btn {
            display: flex;
            gap: clamp(6.5px, calc((10 / var(--viewport)) * 100vw), 10px);

            &.btn-secondary {
                svg path {
                    transition: all 300ms ease;
                }

                &:hover svg path {
                    stroke: var(--btn-secondary-bg-color);
                }
            }

            svg {
                width: clamp(16px, calc((24 / var(--viewport)) * 100vw), 24px);
                height: clamp(16px, calc((24 / var(--viewport)) * 100vw), 24px);
            }
        }
    }

    @media (max-width: 767px) {
        flex-direction: column;
        gap: 24px;
        padding-block: calc(var(--widget-spacing) * 1.5);

        .text-content-wrapper {
            text-align: center;
            p {
                text-wrap: unset;
            }
        }
    }
}

.services-lslider-rtext {
    flex-direction: row;

    .image-slider {
        width: 49.745%;
        border-radius: var(--border-radius);
        overflow: hidden;

        .swiper {
            img {
                aspect-ratio: 776 / 520;
            }
            .swiper-pagination {
                bottom: clamp(8px, calc((16 / var(--viewport)) * 100vw), 16px);
            }
        }
    }

    .text-content {
        width: 50.257%;
        padding-left: clamp(24px, calc((64 / var(--viewport)) * 100vw), 64px);

        p {
            text-wrap: unset;
        }
    }

    @media (max-width: 767px) {
        flex-direction: column;

        .image-slider {
            width: 100%;
        }

        .text-content {
            width: 100%;
            padding: 24px 0 0;
        }
    }
}

.services-ltext-rslider {
    flex-direction: row;

    .image-slider {
        width: 49.745%;
        border-radius: var(--border-radius);
        overflow: hidden;

        .swiper {
            img {
                aspect-ratio: 776 / 520;
            }
            .swiper-pagination {
                bottom: clamp(8px, calc((16 / var(--viewport)) * 100vw), 16px);
            }
        }
    }

    .text-content {
        width: 50.257%;
        padding-right: clamp(24px, calc((64 / var(--viewport)) * 100vw), 64px);

        p {
            text-wrap: unset;
        }
    }

    @media (max-width: 767px) {
        flex-direction: column-reverse;

        .image-slider {
            width: 100%;
        }

        .text-content {
            width: 100%;
            padding: 24px 0 0;
        }
    }
}

section.widget-wrapper.not-found {
    padding: 200px var(--widget-vertical-spacing) calc(var(--widget-spacing) * 2);
    background: #f1feea;

    .image-content-wrapper {
        max-width: 664px;
    }

    .text-content-wrapper {
        text-align: center;
        align-items: center;
        padding-top: 24px;
    }
}

.project-limage-rtext {
    flex-direction: row;
    align-items: stretch;

    .image-content-wrapper {
        width: 56.345%;
        border-radius: var(--border-radius) 0 0 var(--border-radius);
        overflow: hidden;
        position: relative;

        &::after {
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            background: linear-gradient(270deg, var(--color-for-widget) 0%, rgba(0, 0, 0, 0) 20%);
        }

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    .text-content {
        width: 43.655%;
        border-radius: 0 var(--border-radius) var(--border-radius) 0;
        overflow: hidden;
        padding: clamp(20px, calc((64 / var(--viewport)) * 100vw), 64px);
        background: var(--color-for-widget);

        .text-content-wrapper {
            height: 100%;

            *:not(.btn) {
                color: var(--text-color-over-img);
            }

            .overline-3 {
                font-weight: 400;
                text-transform: capitalize;
                margin-top: 10px;
                padding-bottom: 1.043%;
                letter-spacing: 0;
            }

            li {
                :is(&, & > p) {
                    font-size: clamp(12px, calc((20 / var(--viewport)) * 100vw), 20px);
                    line-height: clamp(18px, calc((28 / var(--viewport)) * 100vw), 28px);
                    font-weight: 400;
                    text-wrap: unset;
                }

                &:not(:first-child) {
                    padding-top: 5px;
                }
            }

            .btn {
                display: flex;
                align-items: center;
                gap: 10px;

                &:not(:hover, :focus, :active) {
                    color: #000;
                    border-color: transparent;
                }

                svg {
                    width: clamp(12px, calc((20 / var(--viewport)) * 100vw), 20px);
                    height: clamp(12px, calc((20 / var(--viewport)) * 100vw), 20px);

                    path {
                        transition: all 300ms ease;
                    }
                }

                &:is(:hover, :focus, :active) {
                    svg path {
                        stroke: #fff;
                    }
                }
            }
        }
    }

    @media (max-width: 900px) {
        flex-direction: column;

        .image-content-wrapper {
            width: 100%;
            border-radius: var(--border-radius) var(--border-radius) 0 0;

            &::after {
                background: linear-gradient(0deg, var(--color-for-widget) 0%, rgba(0, 0, 0, 0) 20%);
            }
        }

        .text-content {
            width: 100%;
            border-radius: 0 0 var(--border-radius) var(--border-radius);

            :is(ul, ol) {
                margin-top: 5px;
            }
        }
    }
}

.project-ltext-rimage {
    flex-direction: row;
    align-items: stretch;

    .image-content-wrapper {
        width: 56.345%;
        border-radius: 0 var(--border-radius) var(--border-radius) 0;
        overflow: hidden;
        position: relative;

        &::after {
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            background: linear-gradient(90deg, var(--color-for-widget) 0%, rgba(0, 0, 0, 0) 20%);
        }

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    .text-content {
        width: 43.655%;
        border-radius: var(--border-radius) 0 0 var(--border-radius);
        overflow: hidden;
        padding: clamp(20px, calc((64 / var(--viewport)) * 100vw), 64px);
        background: var(--color-for-widget);

        .text-content-wrapper {
            height: 100%;

            *:not(.btn) {
                color: var(--text-color-over-img);
            }

            .overline-3 {
                font-weight: 400;
                text-transform: capitalize;
                margin-top: 10px;
                padding-bottom: 1.043%;
                letter-spacing: 0;
            }

            li {
                :is(&, & > p) {
                    font-size: clamp(12px, calc((20 / var(--viewport)) * 100vw), 20px);
                    line-height: clamp(18px, calc((28 / var(--viewport)) * 100vw), 28px);
                    font-weight: 400;
                    text-wrap: unset;
                }

                &:not(:first-child) {
                    padding-top: 5px;
                }
            }

            .btn {
                display: flex;
                align-items: center;
                gap: 10px;

                &:not(:hover, :focus, :active) {
                    color: #000;
                    border-color: transparent;
                }

                svg {
                    width: clamp(12px, calc((20 / var(--viewport)) * 100vw), 20px);
                    height: clamp(12px, calc((20 / var(--viewport)) * 100vw), 20px);

                    path {
                        transition: all 300ms ease;
                    }
                }

                &:is(:hover, :focus, :active) {
                    svg path {
                        stroke: #fff;
                    }
                }
            }
        }
    }

    @media (max-width: 900px) {
        flex-direction: column-reverse;

        .image-content-wrapper {
            width: 100%;
            border-radius: var(--border-radius) var(--border-radius) 0 0;

            &::after {
                background: linear-gradient(0deg, var(--color-for-widget) 0%, rgba(0, 0, 0, 0) 20%);
            }
        }

        .text-content {
            width: 100%;
            border-radius: 0 0 var(--border-radius) var(--border-radius);

            :is(ul, ol) {
                margin-top: 5px;
            }
        }
    }
}

.widget-wrapper.bg.our-services-multi-icon-text-slider {
    padding-inline: unset;

    .text-group {
        padding-inline: var(--widget-vertical-spacing);
    }

    .multi-icon-text-slider {
        padding: calc(var(--widget-spacing) * 0.5) var(--widget-vertical-spacing) 0;
        gap: 8px;

        .swiper {
            position: relative;
            overflow: hidden;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                background: linear-gradient(90deg, rgba(235, 245, 239, 1) 0%, rgba(235, 245, 239, 0) 10%, rgba(235, 245, 239, 0) 90%, rgba(235, 245, 239, 1) 100%);
                pointer-events: none;
            }
            .swiper-wrapper {
                transition-timing-function: linear !important;

                .swiper-slide {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: clamp(5px, calc((12 / var(--viewport)) * 100vw), 12px);
                    background: #fff;
                    border-radius: 50px;
                    padding: clamp(6px, calc((16 / var(--viewport)) * 100vw), 16px) clamp(14px, calc((32 / var(--viewport)) * 100vw), 32px)
                        clamp(6px, calc((16 / var(--viewport)) * 100vw), 16px) clamp(10px, calc((24 / var(--viewport)) * 100vw), 24px);
                    width: fit-content !important;

                    img {
                        width: clamp(14px, calc((32 / var(--viewport)) * 100vw), 32px);
                        flex-shrink: 0;
                        height: auto;
                    }

                    .service-name {
                        white-space: nowrap;
                        color: var(--brand-primary-color);
                    }
                }
            }
        }

        @media (max-width: 767px) {
            padding-inline: 0;
        }

        @media (min-width: 640px) {
            gap: 10px;
        }

        @media (min-width: 767px) {
            gap: 14px;
        }

        @media (min-width: 1024px) {
            gap: 20px;
        }

        @media (min-width: 1280px) {
            gap: 24px;
        }

        @media (min-width: 1536px) {
            gap: 32px;
        }
    }
}

.project-detials {
    .text-content {
        width: 100%;

        b {
            color: var(--primary-text-color);
        }

        p {
            text-wrap: unset;
        }

        &:not(:first-child) {
            padding-top: var(--widget-spacing);
        }
    }
}

.project-image-gallery {
    .text-content-wrapper {
        padding-bottom: clamp(30px, calc((48 / var(--viewport)) * 100vw), 48px);
    }
    .image-content-wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: clamp(12px, calc((40 / var(--viewport)) * 100vw), 40px);
        grid-auto-rows: 10.418vw;

        img {
            border-radius: var(--border-radius);
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        img:nth-child(5n + 1) {
            grid-column: 1 / -1;
            grid-row: span 3;
        }

        img:nth-child(5n + 2) {
            grid-column: 1 / 8;
            grid-row: span 2;
        }

        img:nth-child(5n + 3) {
            grid-column: 8 / -1;
            grid-row: span 2;
        }

        img:nth-child(5n + 4) {
            grid-column: 1 / 6;
            grid-row: span 2;
        }

        img:nth-child(5n + 5) {
            grid-column: 6 / -1;
            grid-row: span 2;
        }
    }
}

section.widget-wrapper.gallery-slider {
    padding: clamp(150px, 10.418vw, 200px) 0 var(--widget-spacing);
    background: var(--widget-bg);
    .sliders {
        padding-top: var(--widget-spacing);

        .swiper-wrapper {
            transition-timing-function: linear !important;

            .swiper-slide {
                width: fit-content;

                img {
                    border-radius: var(--border-radius);
                    width: clamp(143px, 11.668vw, 224px);
                }
            }
        }

        .swiper {
            padding-bottom: 16px;

            @media (min-width: 640px) {
                padding-bottom: 16px;
            }

            @media (min-width: 767px) {
                padding-bottom: 20px;
            }

            @media (min-width: 1024px) {
                padding-bottom: 24px;
            }

            @media (min-width: 1280px) {
                padding-bottom: 32px;
            }

            @media (min-width: 1536px) {
                padding-bottom: 40px;
            }
        }
    }
}

.contact-form-section {
    .contact-form {
        display: flex;
        flex-direction: column;
        gap: clamp(20px, calc((40 / var(--viewport)) * 100vw), 40px) clamp(40px, calc((80 / var(--viewport)) * 100vw), 80px);
        max-width: 1072px;

        .form-grid {
            display: flex;
            flex-wrap: wrap;
            gap: clamp(20px, calc((40 / var(--viewport)) * 100vw), 40px) clamp(40px, calc((80 / var(--viewport)) * 100vw), 80px);

            .form-group {
                width: calc(50% - clamp(40px, calc((80 / var(--viewport)) * 100vw), 80px) / 2);

                @media (max-width: 767px) {
                    width: 100%;
                }
            }
        }

        .form-group {
            width: 100%;
            display: flex;
            flex-direction: column;
            position: relative;

            label {
                padding-bottom: 6px;
                color: var(--primary-text-color);
            }

            :is(input, textarea, select) {
                padding: clamp(10px, calc((16 / var(--viewport)) * 100vw), 16px);
                border-radius: var(--border-radius);
                border: 1px solid rgba(20, 20, 20, 0.3);
                background-color: transparent;
                box-shadow:
                    0 1px 3px rgba(20, 20, 20, 0.3),
                    0 1px 2px rgba(20, 20, 20, 0.3);
                font-size: clamp(16px, calc((24 / var(--viewport)) * 100vw), 24px);
                line-height: clamp(24px, calc((36 / var(--viewport)) * 100vw), 36px);
                letter-spacing: -0.02em;

                &::placeholder {
                    color: rgba(20, 20, 20, 0.5);
                    font-size: clamp(14px, calc((18 / var(--viewport)) * 100vw), 18px);
                    line-height: clamp(16px, calc((20 / var(--viewport)) * 100vw), 20px);
                    font-weight: 500;
                }

                &:is(:hover, :focus, :active) {
                    border-color: var(--brand-primary-color);
                    box-shadow: 0 0 0 4px rgba(2, 120, 51, 0.16);
                    outline: none;
                }

                @media (max-width: 767px) {
                    font-size: 12px;
                    line-height: 20px;
                }
            }

            .help-text {
                font-size: 14px;
                line-height: 24px;
                text-align: right;
                /* position: absolute;
                right: 0;
                bottom: 0;
                max-width: 50%;
                transform: translateY(100%); */

                @media (max-width: 767px) {
                    font-size: 12px;
                    line-height: 20px;
                }
            }

            .required {
                color: red;
            }

            .error-message {
                color: Red;
                font-size: clamp(14px, calc((16 / var(--viewport)) * 100vw), 16px);
                line-height: clamp(24px, calc((24 / var(--viewport)) * 100vw), 24px);
                /* position: absolute;
                bottom: 0;
                left: 0;
                transform: translateY(100%);
                width: fit-content; */

                @media (max-width: 767px) {
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }

        .form-actions {
            width: 100%;

            .btn {
                width: 100%;
            }
        }

        .alert {
            width: 100%;
            text-align: center;
        }

        .alert-error {
            color: red;
        }

        .alert-success {
            color: green;
        }
    }
}

.careers-job-openings {
    .text-group {
        .text-content-wrapper {
            max-width: 100%;
            align-items: flex-start;
            text-align: left;

            > * {
                text-align: left;
            }

            p {
                text-wrap: unset;
            }
        }
    }

    .job-listing {
        .text-content:not(:first-child) {
            margin-top: var(--widget-spacing);
        }

        p {
            text-wrap: unset;
            b {
                color: var(--primary-text-color);
            }
        }

        .text-content {
            background: var(--widget-secondary-bg);
            border: 1px solid rgba(20, 20, 20, 0.16);
            border-radius: var(--border-radius);
            padding: clamp(16px, calc((32 / var(--viewport)) * 100vw), 32px) clamp(16px, calc((40 / var(--viewport)) * 100vw), 40px);

            .job-header {
                display: flex;
                flex-direction: column;
                position: relative;
                padding-bottom: clamp(20px, calc((40 / var(--viewport)) * 100vw), 40px);

                .job-title {
                    display: flex;
                    align-items: center;
                    gap: clamp(16px, calc((24 / var(--viewport)) * 100vw), 24px);
                }

                img {
                    height: clamp(40px, calc((64 / var(--viewport)) * 100vw), 64px);
                    width: clamp(40px, calc((64 / var(--viewport)) * 100vw), 64px);
                    margin-bottom: clamp(10px, calc((16 / var(--viewport)) * 100vw), 16px);
                }

                .full-time {
                    color: #299254;
                    background: #e7f3ec;
                    width: max-content;
                    padding: 6px 24px;
                    border-radius: 50px;
                    margin: 0;
                }

                .internship {
                    color: #e06b22;
                    background: #f9efe9;
                    width: max-content;
                    padding: 6px 24px;
                    border-radius: 50px;
                }

                .btn {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(calc(-50% - clamp(16px, calc((32 / var(--viewport)) * 100vw), 32px)));
                    gap: clamp(6px, calc((8 / var(--viewport)) * 100vw), 8px);

                    svg {
                        width: clamp(12px, calc((20 / var(--viewport)) * 100vw), 20px);
                        height: clamp(12px, calc((20 / var(--viewport)) * 100vw), 20px);
                    }
                }
            }

            .job-description p {
                display: flex;
                flex-wrap: wrap;
                gap: 0 10px;
            }
        }

        @media (max-width: 767px) {
            .text-content {
                .job-header {
                    .job-title {
                        .job-tag {
                            position: absolute;
                            top: 0;
                            right: 0;
                        }
                    }

                    .btn {
                        position: static;
                        transform: unset;
                        margin-top: 24px;
                    }
                }
            }
        }
    }
}
