.homepage {
    .hero-banner {
        margin-bottom: 0;
    }

    .testimonials + .request-a-quote {
        margin-top: 0;
    }
}

main:not(.homepage) {
    .hero-banner {
        .image-content-wrapper img {
            max-height: 700px;
            object-fit: cover;
        }

        .text-content {
            padding: 30px;

            p {
                color: var(--text-color-over-img);
                font-weight: 400;
            }

            .text-content-wrapper {
                width: 100%;
            }
        }
    }
}

main.projects-page {
    .bg.our-services-multi-icon-text-slider {
        margin-bottom: 0;
    }

    .request-a-quote {
        margin-top: 0;
    }
}

main.project-inner-page {
    .project-image-gallery {
        padding-top: 0;
    }

    padding-bottom: var(--widget-spacing);
}

main.contact-us-page {
    .request-a-quote {
        margin-top: 0;
    }
}
