@import "tailwindcss";

:root {
    --viewport: 1920;
    --brand-primary-color: #027833;
    --brand-color-secondary: #27c669;
    --highlight-bg: #cef17b;
    --widget-bg: #ebf5ef;
    --widget-secondary-bg: #f7f7f7;

    --border-color: var(--brand-primary-color);
    --border-radius: clamp(8px, calc((16 / var(--viewport)) * 100vw), 16px);

    /* button */
    --btn-border-radius: var(--border-radius);
    --btn-bg-color: var(--brand-primary-color);
    --btn-border-color: var(--brand-primary-color);
    --btn-text-color: #ffffff;
    --btn-hover-bg-color: #025f27;
    --btn-hover-border-color: var(--btn-hover-bg-color);
    --btn-hover-text-color: #ffffff;

    --primary-text-color: #141414;
    --background: #ffffff;
    --foreground: #171717;

    /* navbar */
    --nav-bg: #141414cc;
    --nav-link-color: rgba(255, 255, 255, 0.8);
    --nav-link-active-color: #ffffff;
    --nav-btn-bg: #fdfdfd;
    --nav-btn-text-color: #141414;
    --nav-btn-border-color: var(--nav-btn-bg);
    --nav-btn-border-radius: var(--border-radius);
    --nav-btn-hover-bg: var(--brand-primary-color);
    --nav-btn-hover-text-color: #ffffff;
    --nav-btn-hover-border-color: var(--nav-btn-hover-bg);
}

/* @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

body {
    font-family: var(--font-figtree), system-ui, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.02em;
    color: #141414;
}

body.no-scroll-menu {
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}
